body {
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444 !important; 
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #1f1e22;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 300;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

header{
  margin-bottom: 5rem;
}

.btn-new-post {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #1DA1F2;
  border: 1px solid #1A91DA;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-new-post:hover,
.btn-new-post:focus {
  background-color: #1a85cd;
  border-color: #1A91DA;
  color: #fff !important;
  outline: none;
}

/* Estilo padrão para o link "My Posts" */
.list-group-item.list-group-item-light a {
  color: inherit !important; /* Mantém a cor herdada do item da lista */
  text-decoration: none !important; /* Remove o sublinhado */
}

/* Estilo quando o mouse passa por cima do link */
.list-group-item.list-group-item-light a:hover,
.list-group-item.list-group-item-light a:focus {
  color: #007bff !important; /* Cor azul ao passar o mouse */
  text-decoration: none !important; /* Continua sem sublinhado */
}
